extends layout
block content

    h1= title
    form(id='CostumeForm', action="/resource/electronics", method="POST")
        div.form-group
            label.costumeAttr(for='Electronic_Name') Electronic Name
            input#costume_type(type='text', name='Electronic_Name')
        div.form-group
            label.costumeAttr(for='Electronic_Origin') Electronic Origin
            input#size(type='text', name='Electronic_Origin')
        div.form-group
            label.costumeAttr(for='Electronic_ManufacturingYear') Electronic ManufacturingYear
            input#cost(type='number', name='Electronic_ManufacturingYear')
        input(type="submit")
    script.
        document.forms['CostumeForm'].addEventListener('submit', (event) => {
            event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
        });